# Decision Tree

Last edited: 4/14/2020 3pm

In [51]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
import math

import sklearn as sk
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

import warnings
warnings.simplefilter("ignore")
import time

%matplotlib inline

In [52]:
#Load cleaned data set (this cell taken from Feature_Engineering)
from utils import intake_data
data = intake_data()
#adjust variables
data.rename(columns = {'death = 1 ': 'death'}, inplace=True)
#create X and Y dataframes
data_X = data.iloc[:, :16]
data_Y = data.iloc[:, 17] #df with class labels
print(data_Y.head())
data_X.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: death, dtype: float64

,age,sex,Alb,PLT,WBC,CRP,APACHE II,SOFA,McCabe,PaO2/FiO2,LDH,CT score,PEEP,PIP,TV,DARDS = 1
0,79.0,0,2.3,10.8,4000.0,17.8,24.0,8.0,1.0,108.0,339.0,191.6,24.0,25.948052,428.05036,0.0
1,83.0,0,4.4,13.5,10200.0,8.9,16.0,6.0,1.0,78.0,385.0,213.3,5.0,10.000000,360.00000,0.0
2,70.0,0,2.7,10.8,5300.0,25.3,22.0,7.0,1.0,70.9,461.0,221.7,18.0,24.000000,525.00000,0.0
3,61.0,0,3.3,8.8,1800.0,22.2,26.0,7.0,1.0,59.2,227.0,211.6,10.0,24.000000,480.00000,0.0
4,81.0,0,3.1,26.2,10600.0,17.0,19.0,4.0,1.0,83.6,680.0,234.9,5.0,10.000000,625.00000,0.0

In [64]:
# Nested loops (hopefully)
dt = DecisionTreeClassifier()
params = {"max_depth":[2,4,6,8,10,12], "max_features":[2,4,6,8,10,12,14], 
          "min_samples_leaf":[2,4,6,8,10,12,14,16,18,20]} 
clf = sk.model_selection.GridSearchCV(dt, param_grid = params, scoring = "accuracy", cv = 10)
accuracies = sk.model_selection.cross_val_score(clf, data_X, data_Y, cv = 10)

In [67]:
# how to get best params out of classifier??
print(accuracies.mean())

0.629298245614035

In [ ]:
# Run model
x_train, x_test, y_train, y_test = train_test_split(data_X, data_, test_size = .2)
print("Training Set Records:", len(x_train))
print("Testing Set Records:", len(x_test))

0.675